---
import type { ProductWithVariablePrice } from "@/types";
import { formatCurrency, toLowerFirstChar } from "@/utils";

interface Props {
    product: ProductWithVariablePrice;
}
const { product } = Astro.props;
const keys = ["small", "medium", "large"] as const;
---

<div class="mt-5 space-y-5">
    {
        keys.map((key) => {
            const variant = product.acf[key];

            return (
                <dl class="flex justify-between items-center text-lg font-black">
                    <dt class="text-xl font-black capitalize">
                        {toLowerFirstChar(variant.size)}:
                    </dt>
                    <dd class="text-3xl text-amber-400">
                        {formatCurrency(variant.price)}
                    </dd>
                </dl>
            );
        })
    }
</div>
