---
import { ProductsSchema } from "@/types";
import ProductItem from "@/components/products/ProductItem.astro";

const { category } = Astro.params;
const url = `${import.meta.env.API_URL}/freshcoffee_products?freshcoffee_category_slug=${category}&per_page=20`;
const response = await fetch(url);
const data = await response.json();
const products = ProductsSchema.parse(data);
---

<div></div>
<div
    class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-5 items-stretch"
>
    {products.map((product) => <ProductItem product={product} />)}
</div>
