---
import OrderLayout from "@/layouts/OrderLayout.astro";
---

<OrderLayout title={`Order - ${Astro.params.category}`}>
    <h1>Order Category: {Astro.params.category}</h1>
    <p>Here you can place your order for {Astro.params.category} items.</p>
</OrderLayout>
